.content {
  position: relative;
  @include flexContainer(column) {
    align-items: center;
    justify-content: space-between;
  }
  padding: $size-24 $size-12;
  background-image: url('../../../../public/bgi/hero.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  @include onTablet {
    padding: $size-24 $size-40;
    background-position: center right;
  }
  @include onDesktop {
    flex-direction: row;
    padding: 0 $size-80;
  }
}

.wrapper {
  @include onDesktop {
    max-width: 520px;
  }
}

.text {
  margin: $size-36 0;
  @include fontType(14px, 1.6) {
    text-align: center;
  }
  @include onTablet {
    margin: $size-48 0;
    font-size: 18px;
    text-align: start;
  }
}

.actions {
  @include flexContainer(column);
  gap: $size-18;
  @include onTablet {
    flex-direction: row;
  }
}

.images {
  position: relative;
  height: 450px;
  width: 100%;
  @include onTablet {
    height: 550px;
  }
  @include onDesktop {
    width: 50%;
    height: 750px;
  }
}

.image1 {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 0;
  width: 120px;
  height: 160px;
  @include onTablet {
    top: 100px;
    left: 0;
    width: 238px;
    height: 317px;
  }
  @include onDesktop {
    top: 300px;
    left: 0;
  }
}

.image2 {
  position: absolute;
  z-index: 2;
  top: 50px;
  right: 50px;
  width: 80px;
  height: 110px;
  @include onTablet {
    top: 50px;
    right: 50px;
    width: 172px;
    height: 230px;
  }
  @include onDesktop {
    right: 200px;
    top: 100px;
  }
}

.image3 {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  right: 100px;
  width: 80px;
  height: 110px;
  @include onTablet {
    bottom: 0;
    right: 200px;
    width: 172px;
    height: 230px;
  }
  @include onDesktop {
    bottom: 100px;
    right: 100px;
    width: 172px;
    height: 230px;
  }
}