.content {
  position: relative;
  @include flexContainer(column) {
    align-items: center;
    justify-content: space-between;
  }
  padding: $size-48 $size-12 $size-24 $size-12;
  background-image: url('../../../../public/bgi/hero.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  @include onTablet {
    padding: $size-24 $size-48;
    background-position: center right;
  }
  @include onDesktop {
    flex-direction: row;
    padding: 0 $size-80;
  }
}

.wrapper {
  @include onDesktop {
    max-width: 520px;
  }
}

.title {
  text-align: center;
  margin: 0 0 $size-36 0;
  @include onDesktop {
    text-align: start;
  }
}

.text {
  margin: 0 0 $size-36 0;
  @include fontType(14px, 1.6) {
    text-align: center;
    color: $grey-1; 
  }
  @include onDesktop {
    font-size: 18px;
    text-align: start;
  }
}

.actions {
  @include flexContainer(column);
  gap: $size-18;
  @include onTablet {
    flex-direction: row;
    justify-content: center;
  }
  @include onDesktop {
    justify-content: flex-start;
  }
}

.images {
  position: relative;
  height: 450px;
  width: 100%;
  @include onTablet {
    height: 400px;
  }
  @include onDesktop {
    width: 50%;
    height: 750px;
  }
}

.image1 {
  position: absolute;
  bottom: 80px;
  background-image: url('../../../../public/images/163560.png');
  background-size: contain;
  background-repeat: no-repeat;
  @include squareSize(180px);
  @include onTablet {
    @include squareSize(240px);
    left: 100px;
  }
  @include onDesktop {
    @include squareSize(300px);
    left: 80px;
    bottom: 200px;
  }
}

.image2 {
  position: absolute;
  top: 40px;
  right: 30px;
  @include squareSize(120px);
  background-image: url('../../../../public/images/163559.png');
  background-size: contain;
  background-repeat: no-repeat;
  @include onTablet {
    @include squareSize(140px);
    right: 160px;
  }
  @include onDesktop {
    @include squareSize(240px);
    right: 80px;
  }
}

.image3 {
  position: absolute;
  bottom: 60px;
  right: 0;
  @include squareSize(120px);
  background-image: url('../../../../public/images/1405.png');
  background-size: contain;
  background-repeat: no-repeat;
  @include onTablet {
    right: 200px;
  }
  @include onDesktop {
    @include squareSize(240px);
    bottom: 100px;
    right: 20px;
  }
}
