.iconBtn {
  @include flexContainer(row) {
    align-items: center;
    justify-content: center;
  }
  @include squareSize(44px);
  background-color: $white;  
  border: 1px solid $grey-2;
  border-radius: $size-12;
}