.section {
  padding: $size-48 $size-12;
  text-align: center;

  @include onTablet {
    padding: $size-60 $size-24 ;
  }
  
  @include onDesktop {
    padding: 0 $size-80 $size-120 $size-80;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin: 0 0 $size-24 0;

  @include onTablet {
    font-size: 44px;
  }
}

.subTitle {
  font-size: 14px;
  line-height: 1.6;
  color: $grey-1;
  margin: 0 0 $size-24 0;

  @include onTablet {
    display: inline-block;
    margin: 0 auto $size-36 auto;
    font-size: 18px;
    max-width: 760px;
  }
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 20px;
  font-size: 14px;
  line-height: 1.6;
  color: $grey-1;

  @include onTablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $white;
  padding: $size-20;
  border-radius: $size-12;
  overflow: hidden;
}

.icon {
  @include squareSize(48px);
  margin: 0 0 $size-24 0;
  @include onDesktop {
    margin: 0 0 $size-40 0;
    @include squareSize(70px);
  }
}

.link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  margin: 0 0 $size-12 0;
  color: $se-black-1;
  @include onTablet {
    font-size: 14px;
  }
  @include onDesktop {
  margin: 0 0 $size-24 0;
    font-size: 24px;
  }
}