.section {
  padding: $size-48 $size-12;
  @include onDesktop {
    padding: $size-120 $size-80;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 $size-32 0;
  text-align: center;
  @include onDesktop {
    font-size: 44px;
  }
}

.subTitle {
  font-size: 14px;
  line-height: 1.6;
  margin: 0 0 $size-32 0;
  color: $grey-1;
  text-align: center;
  @include onDesktop {
    max-width: 760px;
    font-size: 18px;
    margin: 0 auto $size-60 auto;
  }
}

.content {
  @include onDesktop {
    display: flex;
    gap: $size-40;
  }
}

.select {
  @include onDesktop {
    display: none;
  }
}

.wrapper {
  padding: $size-24 0 0 0;
  font-size: 14px;
  line-height: 1.6;
  color: $grey-1;
  @include onDesktop {
    padding: 0;
    font-size: 18px;
  }
}

.termName {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 $size-12 0;
  text-align: center;
  color: $se-black-1;
  @include onDesktop {
    font-size: 44px;
    text-align: start;
  }
}

.termDefinition {
  margin: 0 0 $size-24 0;
}

.termTitle {
  font-weight: 700;
  color: $se-black-1;
  margin: 0 0 $size-12 0;
}

.termText {
  margin: 0 0 $size-8 0;
  &:last-child {
    margin: 0 0 $size-24 0;
  }
}

.termsWrapper {
  display: none;
  @include onDesktop {
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: $size-20;
    font-size: 18px;
  }
}

.termBtn {
  text-align: start;
  @extend %transition;
}