.loginBtn {
  display: none;
  @extend %navlinkfont;
  @extend %transition;
  @include onDesktop {
    display: flex;
    align-items: center;
    gap: $size-8;
    color: $se-black-3;
  }
  &:hover,
  &:active {
    color: $se-black-1;
  }
}