.form {
  padding: $size-16;
  border-radius: $size-16;
  background-color: $white;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-row-gap: 12px;
}

.topics {
  margin: 0 0 $size-24 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: $size-32;
}