.scrumbs {
  display: none;
  @include onTablet {
    display: block;
    padding: $size-40 0;
    @include fontType(18px, 1) {
      color: $grey-1;
      text-align: center;
      text-transform: capitalize;
    }
  }
}