.section {
  padding: 0 $size-12 $size-48 $size-12;
  @include onTablet {
    padding: 0 $size-24 $size-80 $size-24;
  }
  @include onDesktop {
    padding: 0 $size-80 $size-120 $size-80;
  }
}

.wrapper {
  height:500px;
  @include flexContainer(column);
  padding: $size-48 $size-32;
  border-radius: $size-20;
  overflow: hidden;
  background-position: bottom center;
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  @include onTablet {
    height: 400px;
    border-radius: $size-48;
    align-items: flex-start;
    background-position: bottom right;
    padding: $size-48;
    justify-content: center;
    background-size: contain;
    text-align: start;
  }
  @include onDesktop {
    height: 500px;
    padding: $size-48 $size-60;
  }
}

.title {
  margin: 0 0 $size-32 0;
  @include fontType(24px, 1.2) {
    font-weight: 700;
  }
  @include onTablet {
    font-size: 48px;
    max-width: 300px;
  }
  @include onDesktop {
    max-width: fit-content;
  }
}

.subTitle {
  margin: 0 0 $size-32 0;
  @include fontType(14px, 1.6) {
    color: $grey-1;
  }
}

.image {
  width: 100%;
  object-fit: contain;
  position: relative;
  top: 23px;
  @include onTablet {
    top: 97px;
    width: auto;
    height: 100%;
  }
  @include onDesktop {
    top: 0px;
    margin: 0 $size-100 0 0;
  }
}