.section {
  padding: 0 $size-12 $size-48 $size-12;
  @include onTablet {
    padding: 0 $size-24 $size-80 $size-24;
  }
  @include onDesktop {
    padding: 0 $size-80 $size-120 $size-80;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: $size-48 $size-32 0 $size-32;
  border-radius: $size-20;
  overflow: hidden;
  @include onTablet {
    border-radius: $size-48;
    flex-direction: row;
    padding: 0;
  }
  @include onDesktop {
    justify-content: space-between;
  }
}

.block {
  display: flex;
  flex-direction: column;
  @include onTablet {
    padding: $size-40 $size-60;
  }
  @include onDesktop {
    align-items: flex-start;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 $size-60 0;
  @include onTablet {
    font-size: 48px;
  }
}

.image {
  width: 100%;
  object-fit: contain;
  position: relative;
  top: 23px;
  @include onTablet {
    top: 97px;
    width: auto;
    height: 100%;
  }
  @include onDesktop {
    top: 0px;
    margin: 0 $size-100 0 0;
  }
}