.navList {
  display: none;
  @include onDesktop {
    font-weight: 600;
    font-size: 16px;
    @include flexContainer(row);
    gap: $size-24;
    color: $se-black-3;
  }
}

.navItem {
  @extend %transition;
  &:hover {
    color: $green-2;
  }
  &:active {
    color: $green-1;
  }
}