.navList {
  display: none;
  @include onDesktop {
    gap: $size-24;
    @include fontType(16px, 1.5) {
      font-weight: 600;
      color: $se-black-3;
    }
    @include flexContainer(row);
  }
}

.navItem {
  @extend %transition;
  &:hover {
    color: $green-2;
  }
  &:active {
    color: $green-1;
  }
}