.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: $size-24 $size-12;
  
  @include onTablet {
    padding: $size-24 $size-40;
  }

  @include onDesktop {
    flex-direction: row;
    padding: 0 $size-80;
  }
}
