.primaryBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  border-radius: $size-12;
  width: 100%;
}

.primaryBtnAccent {
  color: $white;
  background-color: $green-2;
}