.primaryBtn {
  width: 100%;
  border-radius: $size-12;
  @include flexContainer(row) {
    align-items: center;
    justify-content: center;
  }
  @include fontType(14px, 1.3) {
    font-weight: 700;
  }
}

.primaryBtnAccent {
  color: $white;
  background-color: $green-2;
}

.primaryBtnTonal {
  color: $grey-1;
  background-color: $light-grey-1;
}