@mixin onDesktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin onMobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin squareSize($size) {
  width: $size;
  height: $size;
}

@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
  @content;
}

@mixin fontType ($s, $lh) {
  font-size: $s;
  line-height: $lh;
  @content;
}