%transition {
  transition: all ease-in-out 250ms;
}

%routerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $size-8;
  padding: 0 $size-36;
  font-weight: 600;
  line-height: 1.2;
  @extend %transition;
}