@import './mixins';

.accent-green {
  color: $green-2;
}

.accent-red {
  color: $red-1
}

.pageTitle {
  @include fontType(24px, 1.3) {
    text-transform: capitalize;
    font-weight: 700;
  }
  @include onTablet {
    font-size: 62px;
    text-align: start;
  }
}

.sectionTitle {
  @include fontType(24px, 1.3) {
    font-weight: 700;
  }
  @include onTablet {
    font-size: 44px;
  }
}