%navlinkfont {
  font-weight: 600;
  font-size: 16px;
}

%buttonfont {
  font-weight: 600;
  line-height: 1.2;
}

%footerLinks {
  font-size: 20px;
  line-height: 1.5;
}

%footerInfoFont {
  font-size: 16px;
  line-height: 1.5;
}

%footerTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

%hero-title-tablet {
  font-weight: 700;
  line-height: 1.3;
}

%hero-title-mobile {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.accent-green {
  color: $green-2;
}