%navlinkfont {
  font-weight: 600;
  font-size: 16px;
}

%buttonfont {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
}

%footerLinks {
  font-size: 20px;
  line-height: 1.5;
}

%footerInfoFont {
  font-size: 16px;
  line-height: 1.5;
}

%footerTitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}