// COLORS

$green-1: #2EB873;
$green-2: #47D18C;
$green-3: #B1DFC9;
$green-4: #D6F6E7;
$green-5: #C1E3D3;

$blue-1: #0075EB;
$blue-2: #1F8FFF;
$blue-3: #85C2FF;

$orange-1: #F59A74;
$orange-2: #FACCB9;
$orange-3: #FCDDD1;

$se-black-1: #252A3F;
$se-black-2: #2E334B;
$se-black-3: #3D425A;

$black-1: #1B2124;
$black-2: #8D9092;
$black-3: #C6C7C8;

$grey-1: #7F879E;
$grey-2: #AAAFBE;
$grey-3: #D4D7DF;

$light-grey-1: #F3F3F3;
$light-grey-2: #F6F8F9;
$light-grey-3: #F9F9F9;

$red-1: #E60019;
$red-2: #EE5566;
$red-3: #F7AAB2;

$white: #FFFFFF;
$beige: #FBF3E5;

$secondary-yellow: #FEE5A4;
$secondary-yellow-green: #EAEDB6;
$secondary-light-blue: #A4D8FE;
$secondary-purple: #ABA4FE;
$secondary-pink: #FEA4E5;

// BREAKPOINTS
$desktop: 1440px;
$tablet: 768px;
$mobile: 375px;

// SIZES
$size-8: 8px;
$size-12: 12px;
$size-18: 18px;
$size-24: 24px;
$size-40: 40px;
$size-80: 80px;