@import './variables';
@import './mixins';
@import './typografy';
@import './reset';

body {
  margin: 0;
  font-weight: 400;
  color: $se-black-1;
  min-height: 100vh;
  align-items: center;
  @include flexContainer(column);
  background-color: $beige-01;
  background: linear-gradient(0deg, rgba(245, 248, 252, 0.38949671772428884) 45%, rgba(193, 227, 211, 0.4507658643326039) 100%) no-repeat fixed;
}

main {
  flex-grow: 1;
}
